:root {
    --orange: #FF6565;
    --white: #FFFFFF;
    --black: #071629;

}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "source sans pro";
}

.wrapper {
    max-width: 1040px;
    /* the reason im using 1040px as my with instead of 1000px is because i added left and right padding of 20px each it cancels out back to 1000px */
    margin-inline: auto;
    padding-inline: 20px;
}

@media (max-width:980px) {
    .wrapper {
        padding-inline: 50px;
    }
}

.text-content-container {
    max-width: 767px;
    margin-inline: auto;
    text-align: center;
    color: var(--white);
    padding-inline: 50px;
}

@media (max-width: 580px) {
    .text-content-container {
        padding-inline: 50px;
    }
}

@media (max-width: 480px) {
    .text-content-container {
        padding-inline: 20px;
    }
}

button {
    background-color: var(--orange);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    padding: 15px 35px;
    transition: all 500ms ease-in-out;
}

button:hover {
    background-color: #ff6565b7;
    cursor: pointer;
}

/* ---------header styling------------------- */

header {
    /* background-color: var(--black); */
    padding-block: 20px;
    position: absolute;
    width: 100%;
}

.hamburger-menu {
    display: none;
}

.logo {
    width: 161px;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 580px) {
    .hamburger-menu {
        display: unset;
        position: absolute;
        left: 20px;
    }

    header nav {
        display: none;
    }

    header .wrapper {
        justify-content: center;
    }
}


header ul {
    display: flex;
    gap: 41px;
    list-style-type: none;
}

header a {
    color: var(--white);
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    transition: all 500ms ease-in-out;
}

header a:hover {
    color: var(--orange);
}

/* ------------hero section styling ---------------*/

.hero {
    background-image: url(images/headphones_hero_1.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: end;
    padding-bottom: 100px;
}

.hero button {
    margin-top: 40px;
    margin-bottom: 65px;
}

@media (max-width: 580px) {

    .hero {
        padding-bottom: 50px;
    }

    .hero button {
        margin-top: 20px;
        margin-bottom: 45px;
    }
}


.hero h1 {
    font-size: 32px;
    font-weight: bold;
}

.hero .subheading {
    font-weight: bold;
}

.hero-info {
    font-weight: 300;
}

/* --------------------what we do styling------------------------ */

.what-we-do {
    padding-block: 100px;
}

.what-we-do .text-content-container {
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cards-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

@media (max-width: 980px) {

    .cards-container {
        justify-content: center;
        row-gap: 50px;
    }
}

.cards-container .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 207px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card-text h3 {
    font-size: 18px;
    font-weight: 600;
}

.card-text p {
    font-size: 14px;
    font-weight: 400;
}


/* ---------our results styling------------------- */

.our-results {
    background-image: url(images/headphones_hero_2.jpg);
    background-size: cover;
    background-position: center;
    padding-block: 100px;
}

.our-results .text-content-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.our-results .cards-container {
    gap: 50px;
}

.our-results .card {
    gap: 5px;
    justify-content: center;
    color: var(--white);
    width: 180px;
    height: 172px;
    background-image: url(images/pentagone.png);
    background-size: contain;
}

.our-results .card h3 {
    font-size: 46px;
    line-height: 46px;
    font-weight: bold;
}

.our-results .card p {
    font-size: 14px;
    font-weight: 400;
}